@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233 47% 7%);
}

.card {
  max-width: 68.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-box {
  padding: 5rem;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  background-color: hsl(244 38% 16%);
}

.card-heading {
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 2.125rem;
  color: hsl(0 0% 100%);
}

.card-heading span {
  color: hsl(277 64% 61%);
}

.description {
  margin-bottom: 3.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.7;
  color: hsl(0 0% 100% / 0.75);
}

.stats-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats span {
  display: block;
}

.number-span {
  margin-bottom: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0 0% 100%);
}

.text-span {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: hsl(0 0% 100% / 0.6);
}

.img-box {
  position: relative;
}

.img-desktop,
.img-mobile {
  width: 100%;
  height: 100%;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  filter: brightness(50%);
}

.img-mobile {
  display: none;
}

.purple-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(271 76% 53% / 0.4);
}
